<div id="divModalFindSubSubCategoria" class="modal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="ocultarModalFindSubSubCategoria()">&times;</button>

                <h4 class="modal-title">Búsqueda de Subsubcategoría</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label" for="FindSubSubCategoriaDescripcion">Subsubcategoría</label>

                            <div class="input-group">
                                <input type="text" class="form-control input-md" id="FindSubSubCategoriaDescripcion" autocomplete="off">

                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary btn-md pull-right" onclick="findSubSubCategoriaPorCoincidencia()">
                                        <span class="fa fa-search"></span> Buscar
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="tblFindSubSubCategoria" class="table table-bordered table-vmiddle">
                                <thead>
                                    <tr>
                                        <th data-column-id="descripcion" data-width="70%">DESCRIPCIÓN</th>
                                        <th data-column-id="id" data-formatter="comandos" data-sortable="false" data-width="30%">ACCIÓN</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-link pull-right" value="Cerrar" onclick="ocultarModalFindSubSubCategoria()" />
            </div>
        </div>
    </div>
</div>

<script>
    var _bootGridFindSubSubCategoria = null;
    var _categoriaInFindSubSubCategoria = -1;
    var _onSelectSubSubCategoria = null;

    function mostrarModalFindSubSubCategoria(categoria, onSelectSubSubCategoria) {
        _categoriaInFindSubSubCategoria = categoria;
        _onSelectSubSubCategoria = onSelectSubSubCategoria;

        $(document).ready(function () {
            $("#FindSubSubCategoriaDescripcion").val("");

            var divModalFindSubSubCategoria = $("#divModalFindSubSubCategoria");

            if (!_bootGridFindSubSubCategoria)
                _bootGridFindSubSubCategoria = $("#tblFindSubSubCategoria").bootgrid({
                    formatters: {
                        comandos: function (column, row) {
                            return "<button type='button' class='btn btn-success' onclick='seleccionarElementoBootGridFindSubSubCategoria(\"" + row.id + "\", \"" + row.descripcion + "\")'>" +
                                    "<span class='fa fa-check'></span> Seleccionar" +
                                   "</button>";
                        }
                    },
                    labels: {
                        all: "Todo",
                        infos: "Mostrando de {{ctx.start}} a {{ctx.end}} registros de {{ctx.total}}",
                        loading: "Cargando...",
                        noResults: "No se encontraron registros",
                        refresh: "Actualizar",
                        search: "Buscar",
                    }
                });

            findSubSubCategoriaPorCoincidencia();

            divModalFindSubSubCategoria.on("shown.bs.modal", function () {
                $("#FindSubSubCategoriaDescripcion").val("");

                /******** INICIA MANEJO DEL TAB UNICAMENTE DENTRO DEL MODAL ********/
                var modal = $(this);
                var focusableChildren = modal.find("a[href], a[data-dismiss], area[href], input, select, textarea, button, iframe, object, embed, *[tabindex], *[contenteditable]");
                var numElements = focusableChildren.length;
                var currentIndex = 0;

                $(document.activeElement).blur();

                var focus = function () {
                    var focusableElement = focusableChildren[currentIndex];
                    if (focusableElement)
                        focusableElement.focus();
                };

                var focusPrevious = function () {
                    currentIndex--;
                    if (currentIndex < 0)
                        currentIndex = numElements - 1;

                    focus();

                    return false;
                };

                var focusNext = function () {
                    currentIndex++;
                    if (currentIndex >= numElements)
                        currentIndex = 0;

                    focus();

                    return false;
                };

                $(document).on("keydown", function (e) {
                    if (e.keyCode == 9 && e.shiftKey) {
                        e.preventDefault();
                        focusPrevious();
                    }
                    else if (e.keyCode == 9) {
                        e.preventDefault();
                        focusNext();
                    }
                });

                $("#FindSubSubCategoriaDescripcion").focus();
                /********    FIN MANEJO DEL TAB UNICAMENTE DENTRO DEL MODAL ********/
            });

            divModalFindSubSubCategoria.modal("show");
        });
    }

    function ocultarModalFindSubSubCategoria() {
        _categoriaInFindSubSubCategoria = -1;
        _onSelectSubSubCategoria = null;

        var divModalFindSubSubCategoria = $("#divModalFindSubSubCategoria");
        divModalFindSubSubCategoria.modal("hide");
    }

    function seleccionarElementoBootGridFindSubSubCategoria(id, descripcion) {
        if (_onSelectSubSubCategoria && typeof (_onSelectSubSubCategoria) === "function")
            _onSelectSubSubCategoria(id, descripcion);

        ocultarModalFindSubSubCategoria();
    }

    function findSubSubCategoriaPorCoincidencia() {
        var descripcion = $("#FindSubSubCategoriaDescripcion").val().trim();

        AjaxGetNoCacheJsonAsync(
            baseUrl + "Api/SubSubCategoria/ObtenerPorCoincidencia?subCategoria=" + _categoriaInFindSubSubCategoria + "&descripcion=" + (descripcion ? encodeURI(descripcion) : ""),
            function (data) {
                if (data && Array.isArray(data) && data.length > 0)
                    _bootGridFindSubSubCategoria.bootgrid("append", data);
            }, null, function () {
                if (mostrarOverlayLoading && typeof (mostrarOverlayLoading) === "function")
                    mostrarOverlayLoading(true);

                _bootGridFindSubSubCategoria.bootgrid("clear");
            }, null);
    }
</script>